

.home-head{
    color: white;
    font-size: 2.7rem;
    margin: 120px auto 120px;
}


body{

    background-image: url("/images/Todo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


